@{
    ViewBag.Title = "Študenti";
}

<h2>Seznam študentov</h2>


<div>
    @Html.Action("StudentSearchPartial")
</div>

<input value="Download as CSV" type="button" onclick="$('#seznamStudentov').table2CSV()">
