@{
    ViewBag.Title = "Študenti";
}

<h2>Seznam študentov</h2>

<fieldset>
    <div>
        @Html.Action("StudentSearchPartial")
    </div>
</fieldset>
<input value="Download as CSV" type="button" onclick="$('#seznamStudentov').table2CSV()">
