
@{
    ViewBag.Title = "Izpiti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izpiti</h2>

<ul>

    @if (User.IsInRole("Referent") || User.IsInRole("Študent"))
    {
        <li>@Html.ActionLink("Prijavi", "Prijavi", "IzpitniRokPrijava")</li>
    }
    @if (User.IsInRole("Referent") || User.IsInRole("Študent"))
    {
        <li>@Html.ActionLink("Odjavi", "Odjavi", "IzpitniRokPrijava")</li>
    }

</ul>