@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; charset=UTF-8" />
    <title>Pdf dokument</title>
    <style>
        html {
            font-family: 'Arial';
        }

        table {
            font-family: 'Arial';
            border: solid 1px #ccc;
            border-collapse: collapse;
            background-color: White;
        }

        table td {
            font-family: 'Arial';
            padding: 5px;
            border: solid 1px  #ccc;
        }

        table th {
            font-family: 'Arial';
            padding: 6px 5px;
            text-align: left;
            background-color: #f2f2f2;
            border: solid 1px  #ccc;
        }
        p {
            font-family: 'Arial';
        }
        h2 {
            font-family: 'Arial';
        }
        div.img {
            position: relative;
            left: 150px;
        }
        div.naslov {
            position: relative;
            left: 220px;
        }
        table.prva {
            width: 100%;
        }
        table.druga {
            width: 100%;
        }
        table.tretja {
            width: 100%;
        }
        table.tretja th {
            width: 50%;
        }
        table.tretja td {
            width: 50%;
        }
        table.cetrta {
            width: 100%;
            table-layout: fixed;
        }
        table.cetrta td {
            width: 50%;
        }
        table.peta {
            width: 100%;
        }
        table.sesta {
            width: 100%;
        }
        table.sedma {
            width: 100%;
            table-layout: fixed;
        }
        table.sedma th {
            width: 50%;
        }
        table.sedma td {
            width: 50%;
        }
        table.dovoli {
             width: 100%;
             table-layout: fixed;
        }
        table.dovoli td {
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
