@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; charset=UTF-8" />
    <title>Pdf dokument</title>
    <style>
        html {
            font-family: 'Arial';
        }

        table {
            font-family: 'Arial';
            border: solid 1px #ccc;
            border-collapse: collapse;
            background-color: White;
        }

        table td {
            font-family: 'Arial';
            padding: 5px;
            border: solid 1px  #ccc;
        }

        table th {
            font-family: 'Arial';
            padding: 6px 5px;
            text-align: left;
            background-color: #f2f2f2;
            border: solid 1px  #ccc;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
