@{
    ViewBag.Title = "Izbor študenta";
}

<h2>Izberite študenta za izpis vpisnega lista</h2>

    <div>
        <fieldset>
            <div class="editor-label">
                <!-- Insert search for student, return userId -->
                @Html.Action("StudentSearchPDFPartial", "Student")
            </div>
        </fieldset>
    </div>