@{
    ViewBag.Title = "Predmetnik 1 letnik";
}

<h2>Predmetnik za 1 letnik</h2>
Na voljo so samo obvezni predmeti<br />

<ul>
@foreach (var item in ViewBag.obvezni)
{
    <li>@item.ime</li>
}
</ul>

<a href="~/List/Pdf/@ViewBag.id">Natisni vpisni list</a>