
@{
    ViewBag.Title = "Geslo spremenjeno";
}

<h2>Geslo spremenjeno</h2>

<p>
    Novo geslo je: 
    <input type="text" value="@TempData["pass"]" />
    <br />
    Priporočamo da si geslo spremenite ob prvi prijavi.
</p>