@model studis.Models.ResetPasswordModel

@{
    ViewBag.Title = "Novo geslo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo geslo</h2>

@Html.ValidationSummary(true, "Napaka.")

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            @Html.HiddenFor(model => model.token)
            <p>
                <input type="submit" value="Pridobi novo geslo" />
            </p>
        </fieldset>
    </div>
}
